.wrapper{/* 建一个版心居中的类选择器*/
    margin: 0 auto;
    width: 1200px;
}

body{
    background-color: #f3f5f7;
}

/* 头部区域 !*/
.header{
    height: 100px;
    background-color: #fff;
}

.header .wrapper{
    display: flex;
    padding-top: 29px;
}
/* logo区域 */
.logo a{
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0; /* 把学成在线四个大字隐藏起来 */
}
/* nav区域 */
.nav{
    margin-left: 102px;
}
.nav ul{
    display: flex;
}
.nav li{
    margin-right: 24px;
}
.nav li a{
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

.nav li .active,/* active类选择器,表示默认选中的a */
.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}

/* search区域 */
.search{
    display: flex;
    margin-left: 64px;
    padding-left: 19px;
    padding-right: 12px;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    border-radius: 20px;
}

.search input{
    flex: 1;
    border: 0;
    background-color: transparent;/* transparent就是完全透明 */
    outline: none;/* 去掉了表单控件的焦点框 */
}
/* ::placeholder选中placeholder属性文字样式 */
.search input::placeholder{
    font-size: 14px;
    color: #999;
}

/* 父级是flex布局,子级变弹性盒子:加宽高生效 */
.search a{
    align-self: center;
    width: 16px;
    height: 16px;
    background-image: url(../images/search.png);
}

/* user区域 */
.user{
    margin-left: 32px;
    margin-top: 4px;
}
.user img{
    margin-right: 7px ;
    /* vertical-align处理行内块和行内垂直方向对齐方式 */
    vertical-align: middle;
    width: 30px;
    height: 30px;
}

.user span{
    font-size: 16px;
    color: #666;
}


/* banner区域 */
.banner{
    height: 420px;
    background-color: #0092cb;
}

.banner .wrapper{
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}

/* left侧导航 */
.banner .left{
    padding: 3px 20px;;
    width: 191px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.4);
}

.banner .left li{
    height: 46px;
    background: url(../images/right.png) no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left li:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}

/* right课程表 */
.banner .right {
    margin-top: 60px;
    width: 218px;
    height: 305px;
    background-color: #209dd5;
    border-radius: 10px;
}
.banner .right h3{
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    color: #fff;
    font-weight: 400;
}
.banner .right .content{
    padding: 14px;
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
}

.banner .right dl{
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right dt{
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.banner .right dd{
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}

.banner .right dd span{
    color: #00a4ff;
}

.banner .right dd strong{
    color: #7d7d7d;
    font-weight: 400;
}

.banner .right a {
    display: block;
    height: 32px;
    background-color: #00a4ff;
    text-align: center;
    line-height: 32px;
    font-size: 14px; 
    color: #fff;
    border-radius: 15px;
}


/* 精品推荐区域 */
.recommend{
    display: flex;
    margin-top: 11px;
    padding: 0 20px;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.5);
    line-height: 60px;
}

.recommend h3{
    font-size: 18px;
    color: #00a4ff;
    font-weight: 400;
}

.recommend ul{
/* 除去标题和修改兴趣尺寸,剩余都给ul,把修改兴趣挤到最右边 */
    flex: 1;
    display: flex;
}

.recommend ul li a{
    padding: 0 24px;
    border-right: 1px solid #e0e0e0;
    font-size: 18px;
}

.recommend ul li:last-child a{
    border-right: none;
}

.recommend .modify{
    font-size: 16px;
    color: #00a4ff;
}


/* 精品课程区域 */
.course{
    margin-top: 15px;
}

/* 作为顶栏,可以共用 */
.hd{
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.hd h3{
    font-size: 21px;
    font-weight: 400;
}

.hd .more{
    padding-right: 20px;
    background: url(../images/more.png) no-repeat right center;
    font-size: 14px;
    color: #999;
}

/* 课程内容,可以共用 */
.bd ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li{
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    background-color: pink;
}

.bd li .pic{
    height: 156px;
}

.bd li .text{
    padding: 20px;
    height: 115px;
    background-color: #fff;
}

.bd li .text h4{
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.bd li .text p{
    font-size: 14px;
    line-height: 20px;
    color: #999;
}  

.bd li .text p span{
    color: #fa6400;
}

.bd li .text p i{
    font-style: normal;
}


/* 前端开发工程师区域  */
.hd ul{
    display: flex;
}

.hd li{
    margin-right: 60px ;
    font-size: 16px;
}

.hd li .active{
    color: #00a4ff;
}

.bd{
    display: flex;
    justify-content: space-between;
}

.bd .left{
    width: 228px;
    height: 386px;
    background-color: #fff;
}

.bd .right{
    width: 957px;
    height: 386px;
    background-color: #fff;
}

.bd .right .top{
    margin-bottom: 15px;
    height: 100px;
}

.bd .right .bottom{
    display: flex;
    justify-content: space-between;
}


/* 人工智能开发 */
.bd .rightt .aaa{
    width: 1200px;
    height: 271px;
    background-color: #fff;
}

.bd .rightt .aaa{
    display: flex;
    justify-content: space-between;
}





/* 版权区域 */
.footer{
    margin-top: 60px;
    padding-top: 60px;
    height: 271px;
    background-color: #fff;
}

.footer .wrapper{
    display: flex;
    justify-content: space-between;
}

.footer .left{
    width: 440px;
    background-color: #fff;
}

.footer .left p{
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
}

.footer .left .download{
    display: block;
    width: 120px;
    height: 36px;
    border: 2px solid #00a4ff;
    text-align: center;
    line-height: 36px;
    color: #00a4ff;
}

.footer .right{
    display: flex;
}

.footer .right dl{
    margin-left: 130px;
}

.footer .right dt{
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}

.footer .right dd{
    font-size: 14px;
    color: #666;
    line-height: 24px;
}